@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
  margin: 0;
  height: 100%;
  overflow: hidden
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: darkgray;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: darkgray;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: darkgray;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: darkgray;
  font-weight: 300;
}
.todos {
  display: flex;
  flex-direction: column;
}
.todoList {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  padding: 5px;
  padding-bottom: 15px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
}
.formContainer {
  max-width: 400px;
  min-width: 400px;
  margin: 0 auto;
  background: white;
  color: black;
  min-height: 500px;
  border-color: lightblue;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: 'center';
}
.wrapper {
  background: #50a3a2;
  background: linear-gradient(to bottom right, #003dff 0%, #c0cfff 100%);
  position: absolute;
  top: 0;
  left: 0;
  min-width: 320px;
  min-height: 568px;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: auto;
  display:flex;
  flex-direction:column;
}
.wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
          transform: translateY(85px);
}
.container {
  max-width: 600px;
  width:96%;
  /* height:90%; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 8px 0px;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}
.container h1 {
  font-size: 32px;
  transition-duration: 1s;
  transition-timing-function: ease-in-put;
  font-weight: 200;
}
textarea {
  width: 85%;
  margin: auto;
  border-radius: 5px;
  padding: 15px;
  resize: none;
  height: 200px;
}

form {
  padding: 10px 0;
  position: relative;
  z-index: 2;
}
form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid #809eff;
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 8px auto 8px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #809eff!important;
  transition-duration: 0.25s;
  font-weight: 300;
}
form input:hover {
  color: #809eff!important;
}
form input:focus {
  color: #809eff!important;
}
form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #809eff;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}
form button:hover {
  background-color: #90a4e2!important;
}
form button:active {
  background-color: white!important;
}

.options {
  /* position: absolute;
  top: 460px; */
  width: 100%;
  display: flex;
  /* z-index: 999; */
  text-align: center;
  justify-content: center;
}

.options li {
  margin: 10px;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #809eff;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}

.on-white {
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
  appearance: none!important;
  outline: 0!important;
  background-color: #809eff!important;
  border: 0;
  padding: 10px 15px;
  color: #fff!important;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}

.center-form-button {
  margin: 8px auto 8px auto;
  display: block;
}

.approve-button {
  background-color: green!important;
}

.reject-button {
  background-color: red!important;
}

.instruction-text {
  color: #809eff;
  margin-top:25px;
}

.result-text-scroll-x {
  overflow-x: scroll;
  background: yellow;
  color: black;
  padding: 10px;
  margin: 5px 0px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #d4deff;
}

.display-text-scroll-x {
  overflow-x: scroll;
  background: #eee;
  color: black;
  padding: 10px;
  margin: auto 0px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #d4deff;
}

.display-copyable-input {
  background: #eee;
  overflow-x: scroll;
  margin: 8px 0px;
  display: flex;
  width: 100%;
  padding: 5px;
}

.active {
  border-bottom: 2px #fff solid;
}

#footer {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  min-height: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffff09;
  /* padding-top: 30px; */
  color: #000;
  z-index: 999;
  border-top-style:solid;
  border-top-width: 1px;
  border-top-color: #dadada;
}

#growl {
  width: 200px;
  height: 75px;
  background: #282828;
  opacity: 0.7;
  position: fixed;
  z-index: 999;
  bottom: 65px;
  right: 15px;
  border-radius: 5px;
  color: #fff;
  display: flex;
}

#growl p {
  text-align: center;
  width: 95%;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
}
.banner {
  width: 100%;
  min-height: 65px;
  padding:0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 999;
}
.banner img {
  max-width: 50%;
  max-height: 55px;
  margin: auto auto auto 0px;
  /* margin-bottom: 25px; */
}

#name-error {
  color: red;
}

#reveal-modal {
  background: #eee;
  color: #000;
  width: 85%;
  margin: auto;
  position: fixed;
  top: 30%;
  left: 7.5%;
  padding: 20px;
  z-index: 999;
  text-align: center;
}

#dimmer {
  width: 100vw;
  height: 100vh;
  background: #282828;
  opacity: 0.8;
  position: fixed;
  left: 0;
  top: 0;
}

.auth-button {
  max-width: 200px;
  margin: auto;
  border-radius: 5px;
}

.link-button, .link-button:hover {
  background: none;
  border: none;
  box-shadow: none;
}

.tabs ul li {
  display: inline-block;
  margin: 0 5px;
  text-decoration: none;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px 5px 0 0;
  background: #2da4ac;
  font-weight: bold;
  cursor: pointer
}

.tabs ul li:hover,
.tabs ul li.is-selected { background: #74d4f8;
 transition: 2s ease;
 cursor: pointer;
}
.tabs ul li.is-disabled {
  pointer-events: none;
  background: rgba(gray, 0.2);
}

.card {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  /* overflow:scroll; */
  overflow-x: hidden;
  overflow-y: scroll;
  border-style:solid;
  border-width: 1px;
  border-color: #dadada;
  display: flex;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
