@import url('https://fonts.googleapis.com/css?family=Jomolhari&display=swap');
body {
  height: 100vh;
  width: 100vw;
  min-width: 320px;
  margin: 0px;
}

article p {
  font-family: 'Jomolhari', serif!important;
}

.wrapper {
  height: 100%;
  width: 100%;
}
.wrapper-flex {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.banner {
  width:100%;
  background: #68686b;
}
.banner-content {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  padding:10px;
  margin: 0 auto;
}
.banner-logo {
  max-height:45px;
  max-width:50%
}

.page {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex:1;
  width: 100%;
  min-width: 320px;
  max-width: 800px;
  margin: 0 auto;
}
.page-section {
  width: 100%;
  margin: 10px 10px;
  padding: 20px;
}

.activity-indicator {
  width: 50%;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 30px auto;
  background: #828282;
  color: white;
  border-radius: 5px;
}

.wallets {
  margin-top: 15px;
}

.whitepaper-how {
  font-size: 18px;
  color: #2568EF;
  cursor: pointer;
}

.link-color {
  color: #2568EF;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-35 {
  margin-top: 35px;
}

.margin-left-8 {
  margin-left: 8px;
}

.loader-sign-in {
  max-width: 85%;
  margin: auto;
}

.footnote-list {
  list-style: none;
}

.footnote-list li {
  font-size: 12px;
  margin: 10px;
}

.sub-list {
  list-style: none;
}

.nested-list-item {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 5px;
}

.main-list-item a h6 {
  font-size: 17px!important;
}


